.mainform {
  margin-top: 30%;
  border: 2px solid dodgerblue;
  border-radius: 25px 25px 25px 25px;
}

@media only screen and (min-width: 710px) {
  .mainform {
    width: 40%;
    margin: auto;
    margin-top: 15%;
  }
}
